* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 300px 2fr;
    grid-template-rows: repeat(4, 1fr);
}


/*-----------------Start of Header-------------------------------------------------*/

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 2/4;
    grid-row: 1/2;
    border: 2px solid black;
}

.header-search {
    margin-top: 30px;
    margin-left: 50px;
}

.header-profile {
    border: 1px solid gold;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.input-search {
    margin-left: 14px;
    width: 400px;
    height: 25px;
    border-radius: 15px;
    background: #f4f4f5;
    border: none;
}

.icon-search {
    position: relative;
    top: 10px;
}

.profile-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile-text {
    display: grid;
    align-items: center;
}

.img-notification {
    display: grid;
    align-items: center;
}


/*-----------------End of Header-------------------------------------------------*/

.profile-text {
    display: inline-block;
}


/*-----------------Start of Sidebar-------------------------------------------------*/

.sidebar {
    grid-column: 1/2;
    grid-row: 1/4;
    border: 2px solid blueviolet;
}


/*-----------------End of Sidebar-------------------------------------------------*/